<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="individium/contacts.css">
    <link rel="stylesheet" href="individium/style.css">
    <link rel="stylesheet" href="individium/book.css">
    <link rel="stylesheet" href="individium/movie.css">
    <link rel="stylesheet" href="individium/learn.css">
</head>
<body style="background-color: #2a2a2b;">

<div class="head">
    <div class="logo">
            <span style="border: 2px solid white">
                <a href="IndividualProject.html" target="_self">DYSTOPIA</a>
            </span>
    </div>
    <div class="header_section">
        <div class="header_items"><a href="movies.html">Movies</a></div>
        <div class="header_items"><a href="books.html" target="_self">Books</a></div>
        <div class="header_items"><a href="contacts.html">Contact</a></div>

    </div>
</div>

<div class="container_contacts">
    <div class="contacts_logo">
        <div class="mail">
            <a href="mailto:ermukahmedtylek@gmail.com?subject=Mail to me">
                <h3>Send Email</h3></a>

            <br>
            <form method="POST"
                action="mailto:ermukhamedtylek@gmail.com?Subject= Feedback/Suggestion"
                  enctype="multipart/form-data">
                <div class="control"><b>Name:</b>
                    <input aria-required="" id="name" type="text"/>
                </div>
                <br>
                <div class="control">
                    <b>Mob no:</b>
                    <input aria-required="" id="mobile_number" type="tel"/></div>
                <br>
                <div class="control"><b>Suggestion:</b>
                    <br>
                    <textarea rows="8" cols="25" name="comment"></textarea>
                </div>
                <br>
                <div class="control">
                    <input type="submit"
                           value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<section class="end">

    <div class="logo_row">
        <div class="logo_end"><a href="https://www.instagram.com/nickiminaj/?hl=ru"><img src="pictures/inst.jfif"></a></div>
        <div class="logo_end"><a href="https://www.facebook.com/campaign/landing.php?campaign_id=1635645038&extra_1=s%7Cc%7C313664123240%7Ce%7Cfacebook%20%27%7C&placement=&creative=313664123240&keyword=facebook%20%27&partner_id=googlesem&extra_2=campaignid%3D1635645038%26adgroupid%3D61926920145%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-360705453827%26loc_physical_ms%3D9070290%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjwzOqKBhAWEiwArQGwaGY99TWdeN15enGdP8rkOvOekExymwc_zJ2uA2S50BpElfS2ftyg8xoC8rIQAvD_BwE"><img src="pictures/facebook.png"></a></div>
        <div class="logo_end"><a href="https://vk.com" ><img src="pictures/vk1.png"></a></div>
    </div>

    <div class="logo3">
            <span style="border: 4px solid #4f5170">
            DYSTOPIA
            </span>
    </div>

</section>

</body>
</html>